!!!
%html
%head
  %title Share
  = csrf_meta_tags
  = csp_meta_tag

  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"}/
  %link{:rel => "stylesheet", :href=> "http://path/to/font-awesome/css/font-awesome.min.css"}

%body
  %header
    .wrapper.clearfix
      #logo= link_to "Share", root_path
      %nav
        - if user_signed_in?
          = link_to current_user.name, edit_user_registration_path
          = link_to "Add New Vision", new_post_path, class: "button"
        - else
          = link_to "Sign In", new_user_session_path
          = link_to "Sign Up", new_user_registration_path, class: "button"

  %p.notice= notice
  %p.alert= alert

  .wrapper

    = yield
